* {
  font-family: Arial, Helvetica, sans-serif;
}

.password_text_heading {
  text-align: center;
  margin-top: 3rem;
  font-size: 38px;
  font-weight: bold;
  color: #2f2290;
}

.container {
  background-color: #24232b;
  padding: 24px;
  margin: 1rem;
  width: 40%;
  margin: auto;
  margin-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.copyBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a8b8b;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  font-size: 12px;
}

.password_length {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
  margin-top: 1rem;
}

.password_length span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.checkboxes div {
  display: flex;
  gap: 5px;
  padding-bottom: 25px;
}

.checkboxes label,
.checkboxes input {
  cursor: pointer;
}

.generateBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a8b8b;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  padding: 20px;
}

.errorMessage {
  color: red;
  padding-bottom: 5px;
}

.password_strength {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  color: white;
}

.back__button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.back_btn {
  background-color: #2a5a87;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  height: 42px;
}

.back_btn:hover {
  background-color: #4e89c1;
}
